[defaults]
inventory          = inventory/hosts.yml
remote_user        = ubuntu
private_key_file   = ~/.ssh/pfs-soc-key
host_key_checking  = False
timeout            = 60
forks              = 5
gathering          = smart
fact_caching       = memory

# Affichage lisible
stdout_callback    = yaml
callbacks_enabled  = timer, profile_tasks

[ssh_connection]
pipelining         = True
ssh_args           = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=30
