[defaults]
inventory          = inventory/hosts.yml
remote_user        = ubuntu
private_key_file   = ~/.ssh/pfs-soc-key
host_key_checking  = False
timeout            = 60
forks              = 5
gathering          = smart
fact_caching       = memory

# Nouveau format yaml (ansible.core 2.11+ / community.general 12+)
stdout_callback    = ansible.builtin.default
result_format      = yaml
callbacks_enabled  = ansible.builtin.timer

[ssh_connection]
pipelining         = True
ssh_args           = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=30
